<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

{% include nav.html %}
<!--div class="full-header"
     style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')"-->
<div class="container">
    <div class="row">
        <div class="col-lg-6  col-md-6 col-sm-12">
            <div style="text-align: center; padding: 20%">
                <img class="profile" style="text-align: center; display: initial;"
                     src="https://pbs.twimg.com/profile_images/423975209788395520/l8ZxU-sb_400x400.jpeg">
                <h4 style="text-align: center;">This used to be me!</h4>
            </div>
        </div>
        <div class="col-lg-6  col-md-6 col-sm-12">
            {{ content }}

        </div>
    </div>
</div>
<!--/div-->

{% include footer.html %}

<!-- jQuery -->
<script src="{{ '/js/jquery.min.js ' | prepend: site.baseurl }}"/>

<!-- Bootstrap Core JavaScript -->
<script src="{{ '/js/bootstrap.min.js ' | prepend: site.baseurl }}"/>

<!-- Custom Theme JavaScript -->
<script src="{{ '/js/clean-blog.min.js ' | prepend: site.baseurl }}"/>


</body>

</html>
